body {
  font-family: 'Montserrat', sans-serif;
}

.caixa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0;
  background: #bbbbbb;
  font-weight: bold;
}

.caixa > img {
  cursor: pointer;
}

.caixa img {
  margin-left: 50px;
  width: 50px;
}

.caixa nav {
  margin-right: 30px;
}

.caixa form {
  position: relative;
}

.btn-menu {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

nav {
  width: 350px;
  height: 100%;    
}

h1 {
  position: relative;
}

span {
  position: absolute;
  bottom: 22px;
  font-size: 16px;
}

a:visited {
  color: #000000;
}

.busca {
  width: 280px;
  height: 20px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid #888888;
  outline: 0; /*retira a borda quando selecionado*/
}

.busca:focus {
  border: 2px solid cornflowerblue;
}

.btn {
  background: white;
  border-top-right-radius: 10px;
  border: none;
  position: absolute;
  right: 2px;
  bottom: 2px;
  padding: 2px;
}

.btn:hover {
  cursor: pointer;
}

.menu {
  display: flex;
  list-style: none; 
  transition: all 0.5s;
  justify-content: right; 
}

.menu li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.menu li a:visited {
  color: black;
}

.menu li a:hover {
  color: cornflowerblue;
  transition: 0.5s all;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px auto;
  max-width: 1200px;
  width: 100%;
}

form label, form legend {
  display: block;
  font-size: 16px;
  margin: 0 0 10px;
}

.legend-check {
  margin-top: 15px;
}

.input-padrao {
  margin: 0 0 20px;
  padding: 5px 5px;
  width: 80%;
}

.checkbox {
  margin: 30px 0;
}

.enviar {
  width: 30%;
  padding: 15px 0;
  background: orange;
  color: white;
  font-weight: bold;
  font-size: 12px;
  border: none;
  border-radius: 30px;
  transition: 1s all;
  cursor: pointer;
}

.enviar:hover {
  background: darkorange;
  transform: scale(1.2);
}

.tabeladia {
  margin-top: 220px;
  margin-left: 200px;
}

.textotabela {
  font-weight: bold;
  margin-bottom: 20px;
}

thead {
  background: #555555;
  color: white;
  font-weight: bold;
}

td, th {
  border: 1px solid #000000;
  padding: 8px 10px;
}

footer {
  background: url("../produto/imagens/bg.jpg");
  text-align: center;
  padding: 20px 0;
  border: 10px solid #000000;
}

.Copyright {
  color: #bbbbbb;
  font-size: 13px;
  margin-top: 20px;
}

/*-----------------------------------------------------------*/

@media (max-width: 468px) {
  .container {
    max-width: 70%;
    justify-content: space-around;
    margin: 40px auto;
    padding: 0;

  }
  .caixa img {
    margin-left: 15px;
  }
    
  .busca {
    display: none;
  }

  .menu {
    font-size: 12px;
    margin-left: 25px;       
  }

  .btn {
    display: none;
  }

  span {
    display: none;
  }

  .checkbox {
    line-height: 20px;
  }
  
  .tabeladia{
    margin-top: 30px;
    margin-left: 0;
  }

  .textotabela {
    font-size: 14px;
  }

  .enviar {
    width: 40%;
    font-size: 10px;
  }
}

@media (max-width: 540px) and (min-width: 540px) {
	.container {
		max-width: 80%;
		margin-bottom: 20px;
    justify-content: space-around;
	}
  
  .tabeladia {
    margin-top: 30px;
    margin-left: 0;
  }
}

@media (max-width:800px) and (min-width: 468px) {
  .caixa form {
    display: none;
  }

  .container {
    justify-content: space-around;
  }

  .container > div {
    margin-bottom: 10px;
  }
  .tabeladia {
    margin-top: 50px;
    margin-left: 50px;
  }
}

@media (max-width: 1000px) {
  span {
    display: none;
  }  
}

@media (max-width: 1023px) and (min-width: 768px) {
	.container {
		max-width: 80%;
		margin-bottom: 20px;
    justify-content: space-around;
	}

  .tabeladia {
    margin: 50px 0 30px 0;
  }

  .busca {
    margin-left: 30px;
  }
}

@media (max-width: 912px) and (min-width: 912px) {
	.container {
		max-width: 100%;
		margin-bottom: 20px;
    justify-content: space-around;
    padding: 0;
	}
  
  .tabeladia {
    margin-top: 200px;
    margin-left: 0;
  }
}

@media (max-width: 1280px) and (min-width: 1024px) {
	.container {
		max-width: 80%;
		margin-bottom: 20px;
	}

  .tabeladia {
    margin-top: 200px;
    margin-left: 50px;
  }
}

